@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;400;500&family=IBM+Plex+Sans:wght@100;300;400&display=swap');

$primary-color: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$menu-color: #0000EC;
$primary-text-color: #060A24;
$secondary-text-color: #ffffff;
$primary-button-color: #00F3BB;
$secondary-button-color: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$breakpoint-mobile: 320px;
$breakpoint-tablet: 940px;
$breakpoint-medium: 1070px;
*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    color:$primary-text-color;
}

.header{
    width: 100%;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: $secondary-text-color;
    z-index: 1;    
    &__logo{
        width: 36px;
        height: 36px;
        margin-left: 4%;
    }    
    &__input{
        display: none;
        &:checked{
            &~.header__label{
                .header__icon{
                    background: transparent;
                }
                .header__icon:before{
                    transform: rotate(-45deg);
                    top: 0;
                }
                .header__icon:after{
                    transform: rotate(45deg);
                    top: 0;
                }
            }
            &~.header__menu{
                opacity: 1;
            }
        }
    }
    &__menu{
        display: flex;
        align-items: center;
        width: 35%;
        margin-right: 4%;
    }
    &__ul{
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__li{
        display: flex;
        align-items: center;
        font-size: 16px;
    }
    &__a{
        font-family: 'IBM Plex Mono', monospace;
        text-decoration: none;
        &:active{
            color: rgba(6,10,36,0.56);
            text-decoration: line-through;
        }
        &:hover{
            color: $primary-button-color;
            text-decoration: line-through;
            font-weight: 500;
        }
    }
    &__label{
        display: none;
        padding-right: 16px;
    }
    &__icon{
        background:$primary-text-color;
        display: block;
        height: 2px;
        width: 18px;
        position: relative;
        transition: background .2s ease-out;
        &:before {
            background: $primary-text-color;
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            transition: all .2s ease-out;
            top: 5px;
        }
        &:after {
            background: $primary-text-color;
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            transition: all .2s ease-out;
            top: -5px;
        }
    }
}

.home{
    margin-left: 12%;
    &__title{
        font-size: 64px;
        font-weight: 400;
        margin-top: 14%;
        &--through{
            text-decoration: line-through;
        }
        &--dot{
            color: #0000EC;
        }
    }
    &__description{
        font-family: 'IBM Plex Mono', monospace;
        max-width: 628px;

        &--mobile{
            display: none;
        }
    }
    
    &__button{
        margin-top: 56px;
    }
}

.episodios{
    background-image: $primary-color;
    transform: skewY(-6deg);
    width: 100%;
    padding: 10% 0;
    margin-top: 10%;
    &>*{
        transform: skewY(6deg);
    }
    &__subtitle{
        color: $secondary-text-color;
        margin-left: 12%;
    }
    &__iframes{
        margin: 26px 50px 0 50px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        list-style: none;
    }
    &__iframe{
        max-width: 584px;
        max-height: 232px;
        margin-bottom: 72px;
        width: 100%;
        margin-right: 32px;
    }
    &__media{
        border: none;
        width: 100%;
        height: 232px;
    }    
}

.nosotros{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__mobile{
        max-width: 458px;
        max-height: 660px;
        position: relative;
        top: -90px;
    }
    &__legend{
        margin-left: 52px;
        margin-top: 100px;
    }
    &__subtitle{
        margin-bottom: 24px;
    }
    &__description{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        max-width: 464px;
        margin-bottom: 15px;
    }
}

.entrevistas{
    &__subtitle{
        margin-bottom: 36px;
        margin-left: 12%;
    }
    &__gallery{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    &__li{
        width: 33.3%;
        height: 364px;
        list-style: none;
    }
    &__img{
        width: 100%;
        height: 364px;
    }
}

.topicos{    
    &__subtitle{
        max-width: 586px;
        margin-left: 12%;
        margin-top: 64px;
        margin-bottom: 69px;
    }
    &__topics{
        display: flex;
        justify-content: center;
        list-style: none;
        flex-wrap: wrap;
    }
    &__topic{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    &__img{
        width: 104px;
        margin-bottom: 29px;
    }
    &__description{
        font-size: 24px;
        max-width: 220px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 49px;
    }
}

.novedades{ 
    height: 518px;
    overflow: hidden;
    &__contenedor{
        position: relative;
        width: 100%;
        height: 100%;
        background-image:$primary-color;
        transform: skewY(-6deg);
        transform-origin: top right;        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &>*{
            transform: skewY(6deg);
        }
    }
    &__subtitle{
        color: $secondary-text-color;
    }
    &__button{
        margin-top: 36px;
    }
}

.footer{
    height: 95px;
    background-color: $secondary-text-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    flex-wrap: wrap;

    &__subtitle{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        font-weight: 500;
    }

    &__ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    &__li{
        margin-left: 36px;
        font-size: 18px;
    }
}

.button{
    background-color: $primary-button-color;
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    font-weight: 500;
    height: 56px;
    padding: 16px 59px;
    &:hover{
        background-image: $secondary-button-color;
        color: $secondary-text-color;
    }
}

.subtitle{
    font-size: 48px;
    font-weight: 400;
}

// @Media

@media (max-width: $breakpoint-mobile) {
    .header{
        height: 44px;
        flex-wrap: wrap;
        &__logo{
            width: 24px;
            height: 24px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 16px;
        }        
        &__menu{
            display: flex;
            align-items: center;
            width: 100%;
            background-color: $menu-color;
            height: 224px;
            margin: 0;
            opacity: 0;
            transition: opacity .3s ease-in;
        }
        &__ul{
            display: flex;
            list-style: none;
            width: 100%;
            height: 100%;
            justify-content: start;
            flex-wrap: wrap;
            flex-direction: column;
        }
        &__li{            
            margin-left: 16px;
            font-size: 16px;
        }
        &__a{            
            color: $secondary-text-color;
            height: 28px;
        }
        &__label{
            display: block;
        }
    }
    .home{
        margin-left: 5%;
        &__title{
            font-size: 36px;
            width: 248px;
            margin-top: 20%;
            &--dot{
                color: $primary-text-color;
            }
        }
        &__description{
            display: none;
            &--mobile{
                font-family: 'IBM Plex Mono', monospace;
                margin-top: 16px;
                display: block;
                width: 288px;
                font-size: 14px;
            }
        }
        
        &__button{
            margin-top: 36px;
            width: 95%;
        }
    }
    .episodios{
        padding: 15% 0 41% 0;
        &__subtitle{
            color: $secondary-text-color;
            margin-left: 5%;
        }
        &__iframes{
            margin: 21px 0 0 0;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            list-style: none;
        }
        &__iframe{
            margin: 0 0 16px 0;
            width: 298px;
            height: 225px;
            max-height: 225px;
        }
        &__media{
            border: none;
            width: 302px;
        }
    }
    .nosotros{
        &__mobile{
            max-width: 316px;
            max-height: 519px;
            top: -78px;
        }
        &__legend{
            margin-left: 5%;
            margin-top: 0;
        }
        &__subtitle{
            margin-bottom: 8px;
            max-width: 288px;
        }
        &__description{
            font-size: 14px;
            max-width: 288px;
            margin-bottom: 16px;
        }
    }
    .entrevistas{
        margin-top: 38px;
        &__subtitle{
            margin-bottom: 14px;
            margin-left: 5%;
        }
        &__gallery{
            width: 100%;
            max-width: 320px;
        }
        &__li{
            width:100%;
            height: 243px;
        }
        &__img{
            width: 100%;
            height: 243px;
        }
    }
    .topicos{
        &__subtitle{
            max-width: 288px;
            margin-left: 5%;
            margin-top: 48px;
            margin-bottom: 24px;
        }
        &__img{
            margin-bottom: 13px;
        }
        &__description{
            max-width: 288px;
            margin-bottom:52px;
        }
    }
    .novedades{ 
        height: 341px;
        &__subtitle{
            color: $secondary-text-color;
            width: 288px;
            text-align: center;
        }
        &__button{
            margin-top: 36px;
            margin-bottom: 67px;
        }
    }
    .button{
        font-size: 16px;
        font-weight: 500;
        height: 48px;
        padding: 13px 43px;
    }
    .subtitle{
        font-size: 36px;
        font-weight: 400;
    }
}

@media only screen and (max-width: $breakpoint-tablet){
    .header{
        height: 55px;
        flex-wrap: wrap;
        &__logo{
            width: 34px;
            height: 34px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 5%;
        }
        &__menu{
            display: flex;
            align-items: center;
            width: 100%;
            background-color: $menu-color;
            height: 224px;
            margin: 0;
            opacity: 0;
            transition: opacity .3s ease-in;
        }
        &__ul{
            display: flex;
            list-style: none;
            width: 100%;
            height: 100%;
            justify-content: start;
            flex-wrap: wrap;
            flex-direction: column;
        }
        &__li{
            margin-top: 24px;
            @media only screen and (min-width: $breakpoint-mobile + 1){
                margin-left: 20px;
                font-size: 18px;
            }
        }
        &__a{
            color: $secondary-text-color;
        }
        &__label{
            display: block;
            padding-right: 4%;
        }
        &__icon{
            height: 3px;
            width: 30px;
            &:before {
                top: 10px;
            }
            &:after {
                top: -10px;
            }
        }
    }
    .home{        
        @media only screen and (max-width: 550px) and (min-width: $breakpoint-mobile + 1){
            margin-left: 3%;
            &__title{
                font-size: 53px;
            }
        }
        
        &__description{
            width: 98%;
        }
        
        
    }
    .episodios{
        &__iframe{
            margin-right: 0px;
        }
    }
    .nosotros{ 
        &__mobile{
            width: 100%;
        }       
        &__legend{
            margin-top: -80px;
        }        
    }
    .entrevistas{
        margin-top: 38px;
        &__subtitle{
            margin-bottom: 14px;
            margin-left: 5%;
        }
        &__gallery{
            width: 100%;
        }
        &__li{
            width: 33.3%;
            @media only screen and (max-width: 790px){
                width: 100%;
            }
        }
        &__img{
            width: 100%;
        }
    }
    .novedades{
        &__subtitle{
            text-align: center;
        }
        &__button{
            padding: 16px 20px;
        }
    }
    .footer{
        @media only screen and (max-width: 590px){
            height: 121px;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        
            &__subtitle{
                font-size: 14px;
            }
            &__ul{
                width: 227px;
                justify-content: space-between;
            }
            &__li{
                margin-left: 0px;
                font-size: 16px;
            }
        }        
    }
}

@media only screen and (max-width: $breakpoint-medium) and (min-width: $breakpoint-tablet + 1){
    .header{
        &__menu{
            width: 50%;
        }
    }
}