@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;400;500&family=IBM+Plex+Sans:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #060A24;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}

.header__logo {
  width: 36px;
  height: 36px;
  margin-left: 4%;
}

.header__input {
  display: none;
}

.header__input:checked ~ .header__label .header__icon {
  background: transparent;
}

.header__input:checked ~ .header__label .header__icon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.header__input:checked ~ .header__label .header__icon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.header__input:checked ~ .header__menu {
  opacity: 1;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  margin-right: 4%;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.header__a {
  font-family: 'IBM Plex Mono', monospace;
  text-decoration: none;
}

.header__a:active {
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
}

.header__a:hover {
  color: #00F3BB;
  text-decoration: line-through;
  font-weight: 500;
}

.header__label {
  display: none;
  padding-right: 16px;
}

.header__icon {
  background: #060A24;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
}

.header__icon:before {
  background: #060A24;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  top: 5px;
}

.header__icon:after {
  background: #060A24;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  top: -5px;
}

.home {
  margin-left: 12%;
}

.home__title {
  font-size: 64px;
  font-weight: 400;
  margin-top: 14%;
}

.home__title--through {
  text-decoration: line-through;
}

.home__title--dot {
  color: #0000EC;
}

.home__description {
  font-family: 'IBM Plex Mono', monospace;
  max-width: 628px;
}

.home__description--mobile {
  display: none;
}

.home__button {
  margin-top: 56px;
}

.episodios {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  width: 100%;
  padding: 10% 0;
  margin-top: 10%;
}

.episodios > * {
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
}

.episodios__subtitle {
  color: #ffffff;
  margin-left: 12%;
}

.episodios__iframes {
  margin: 26px 50px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.episodios__iframe {
  max-width: 584px;
  max-height: 232px;
  margin-bottom: 72px;
  width: 100%;
  margin-right: 32px;
}

.episodios__media {
  border: none;
  width: 100%;
  height: 232px;
}

.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nosotros__mobile {
  max-width: 458px;
  max-height: 660px;
  position: relative;
  top: -90px;
}

.nosotros__legend {
  margin-left: 52px;
  margin-top: 100px;
}

.nosotros__subtitle {
  margin-bottom: 24px;
}

.nosotros__description {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  max-width: 464px;
  margin-bottom: 15px;
}

.entrevistas__subtitle {
  margin-bottom: 36px;
  margin-left: 12%;
}

.entrevistas__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entrevistas__li {
  width: 33.3%;
  height: 364px;
  list-style: none;
}

.entrevistas__img {
  width: 100%;
  height: 364px;
}

.topicos__subtitle {
  max-width: 586px;
  margin-left: 12%;
  margin-top: 64px;
  margin-bottom: 69px;
}

.topicos__topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.topicos__topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topicos__img {
  width: 104px;
  margin-bottom: 29px;
}

.topicos__description {
  font-size: 24px;
  max-width: 220px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 49px;
}

.novedades {
  height: 518px;
  overflow: hidden;
}

.novedades__contenedor {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.novedades__contenedor > * {
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
}

.novedades__subtitle {
  color: #ffffff;
}

.novedades__button {
  margin-top: 36px;
}

.footer {
  height: 95px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__subtitle {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  font-weight: 500;
}

.footer__ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__li {
  margin-left: 36px;
  font-size: 18px;
}

.button {
  background-color: #00F3BB;
  border: none;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  font-weight: 500;
  height: 56px;
  padding: 16px 59px;
}

.button:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #ffffff;
}

.subtitle {
  font-size: 48px;
  font-weight: 400;
}

@media (max-width: 320px) {
  .header {
    height: 44px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__logo {
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 16px;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: #0000EC;
    height: 224px;
    margin: 0;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
  }
  .header__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__li {
    margin-left: 16px;
    font-size: 16px;
  }
  .header__a {
    color: #ffffff;
    height: 28px;
  }
  .header__label {
    display: block;
  }
  .home {
    margin-left: 5%;
  }
  .home__title {
    font-size: 36px;
    width: 248px;
    margin-top: 20%;
  }
  .home__title--dot {
    color: #060A24;
  }
  .home__description {
    display: none;
  }
  .home__description--mobile {
    font-family: 'IBM Plex Mono', monospace;
    margin-top: 16px;
    display: block;
    width: 288px;
    font-size: 14px;
  }
  .home__button {
    margin-top: 36px;
    width: 95%;
  }
  .episodios {
    padding: 15% 0 41% 0;
  }
  .episodios__subtitle {
    color: #ffffff;
    margin-left: 5%;
  }
  .episodios__iframes {
    margin: 21px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
  }
  .episodios__iframe {
    margin: 0 0 16px 0;
    width: 298px;
    height: 225px;
    max-height: 225px;
  }
  .episodios__media {
    border: none;
    width: 302px;
  }
  .nosotros__mobile {
    max-width: 316px;
    max-height: 519px;
    top: -78px;
  }
  .nosotros__legend {
    margin-left: 5%;
    margin-top: 0;
  }
  .nosotros__subtitle {
    margin-bottom: 8px;
    max-width: 288px;
  }
  .nosotros__description {
    font-size: 14px;
    max-width: 288px;
    margin-bottom: 16px;
  }
  .entrevistas {
    margin-top: 38px;
  }
  .entrevistas__subtitle {
    margin-bottom: 14px;
    margin-left: 5%;
  }
  .entrevistas__gallery {
    width: 100%;
    max-width: 320px;
  }
  .entrevistas__li {
    width: 100%;
    height: 243px;
  }
  .entrevistas__img {
    width: 100%;
    height: 243px;
  }
  .topicos__subtitle {
    max-width: 288px;
    margin-left: 5%;
    margin-top: 48px;
    margin-bottom: 24px;
  }
  .topicos__img {
    margin-bottom: 13px;
  }
  .topicos__description {
    max-width: 288px;
    margin-bottom: 52px;
  }
  .novedades {
    height: 341px;
  }
  .novedades__subtitle {
    color: #ffffff;
    width: 288px;
    text-align: center;
  }
  .novedades__button {
    margin-top: 36px;
    margin-bottom: 67px;
  }
  .button {
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    padding: 13px 43px;
  }
  .subtitle {
    font-size: 36px;
    font-weight: 400;
  }
}

@media only screen and (max-width: 940px) {
  .header {
    height: 55px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__logo {
    width: 34px;
    height: 34px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: #0000EC;
    height: 224px;
    margin: 0;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
  }
  .header__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__li {
    margin-top: 24px;
  }
}

@media only screen and (max-width: 940px) and (min-width: 321px) {
  .header__li {
    margin-left: 20px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 940px) {
  .header__a {
    color: #ffffff;
  }
  .header__label {
    display: block;
    padding-right: 4%;
  }
  .header__icon {
    height: 3px;
    width: 30px;
  }
  .header__icon:before {
    top: 10px;
  }
  .header__icon:after {
    top: -10px;
  }
}

@media only screen and (max-width: 940px) and (max-width: 550px) and (min-width: 321px) {
  .home {
    margin-left: 3%;
  }
  .home__title {
    font-size: 53px;
  }
}

@media only screen and (max-width: 940px) {
  .home__description {
    width: 98%;
  }
  .episodios__iframe {
    margin-right: 0px;
  }
  .nosotros__mobile {
    width: 100%;
  }
  .nosotros__legend {
    margin-top: -80px;
  }
  .entrevistas {
    margin-top: 38px;
  }
  .entrevistas__subtitle {
    margin-bottom: 14px;
    margin-left: 5%;
  }
  .entrevistas__gallery {
    width: 100%;
  }
  .entrevistas__li {
    width: 33.3%;
  }
}

@media only screen and (max-width: 940px) and (max-width: 790px) {
  .entrevistas__li {
    width: 100%;
  }
}

@media only screen and (max-width: 940px) {
  .entrevistas__img {
    width: 100%;
  }
  .novedades__subtitle {
    text-align: center;
  }
  .novedades__button {
    padding: 16px 20px;
  }
}

@media only screen and (max-width: 940px) and (max-width: 590px) {
  .footer {
    height: 121px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__subtitle {
    font-size: 14px;
  }
  .footer__ul {
    width: 227px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__li {
    margin-left: 0px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1070px) and (min-width: 941px) {
  .header__menu {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */